### Importing the Necessary Packages

In [1]:
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath('../scripts'))

In [2]:
from preprocessing import save_insurance_data_to_csv, missing_values_table, get_categorical_columns, get_unique_values_count

### CHANGING THE TEXT DATA TO CSV

In [5]:
# Example usage
text_file_path = r'C:\Users\Blen\OneDrive\Documents\10Academy\Week3\Data\MachineLearningRating_v3.txt'  # Replace with your actual file path
save_insurance_data_to_csv(text_file_path)

c:\Users\Blen\OneDrive\Desktop\10Academy\InsuranceCompanyMarketOptimization\scripts\preprocessing.py:10: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(text_file_path, delimiter='|')

Data saved to c:\Users\Blen\OneDrive\Desktop\10Academy\InsuranceCompanyMarketOptimization\data\insurance_data.csv

### READING THE CSV DATA

In [3]:
df = pd.read_csv('..\data\insurance_data.csv')

C:\Users\Blen\AppData\Local\Temp\ipykernel_24160\584046861.py:1: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('..\data\insurance_data.csv')

In [8]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

### EXPLORING THE DATA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

In [5]:
missing_values_info = missing_values_table(df)
missing_values_info.head()

The dataframe has 52columns.
There are 22 columns that have missing values.

                         Missing Values  % of Total Values    DType
NumberOfVehiclesInFleet         1000098              100.0  float64
CrossBorder                      999400               99.9   object
CustomValueEstimate              779642               78.0  float64
WrittenOff                       641901               64.2   object
Converted                        641901               64.2   object

In [19]:
unique_values = get_unique_values_count(df, get_categorical_columns(df))

In [21]:
unique_values.head()

{'TransactionMonth': TransactionMonth
 2015-08-01 00:00:00    106747
 2015-07-01 00:00:00    104143
 2015-06-01 00:00:00    102594
 2015-05-01 00:00:00     99898
 2015-04-01 00:00:00     96563
 2015-03-01 00:00:00     92015
 2015-02-01 00:00:00     83198
 2015-01-01 00:00:00     71576
 2014-12-01 00:00:00     62457
 2014-11-01 00:00:00     48248
 2014-10-01 00:00:00     33820
 2014-09-01 00:00:00     25990
 2014-08-01 00:00:00     19626
 2014-07-01 00:00:00     14907
 2014-06-01 00:00:00     11822
 2014-05-01 00:00:00      9484
 2014-04-01 00:00:00      6919
 2014-03-01 00:00:00      3466
 2014-02-01 00:00:00      2062
 2014-01-01 00:00:00      1827
 2013-12-01 00:00:00      1495
 2013-11-01 00:00:00      1196
 2013-10-01 00:00:00        45
 Name: count, dtype: int64,
 'IsVATRegistered': IsVATRegistered
 False    995075
 True       5023
 Name: count, dtype: int64,
 'Citizenship': Citizenship
       895210
 ZA    103721
 ZW       936
 AF       231
 Name: count, dtype: int64,
 'LegalType': LegalType
 Individual           911929
 Private company       83891
 Close Corporation      2459
 Public company         1295
 Partnership             331
 Sole proprieter         193
 Name: count, dtype: int64,
 'Title': Title
 Mr      933555
 Mrs      45850
 Ms       13269
 Miss      6614
 Dr         810
 Name: count, dtype: int64,
 'Language': Language
 English    1000098
 Name: count, dtype: int64,
 'Bank': Bank
 First National Bank       260811
 ABSA Bank                 204954
 Standard Bank             181715
 Nedbank                   132003
 Capitec Bank               58155
 RMB Private Bank           12576
 Ithala Bank                 1730
 Investec Bank                732
 Old Mutual                   688
 FirstRand Bank               638
 Mercantile Lisbon Bank       135
 Name: count, dtype: int64,
 'AccountType': AccountType
 Current account         597938
 Savings account         358207
 Transmission account      3721
 Name: count, dtype: int64,
 'MaritalStatus': MaritalStatus
 Not specified    986208
 Single             4254
 Married            1377
 Name: count, dtype: int64,
 'Gender': Gender
 Not specified    940990
 Male              42817
 Female             6755
 Name: count, dtype: int64,
 'Country': Country
 South Africa    1000098
 Name: count, dtype: int64,
 'Province': Province
 Gauteng          393865
 Western Cape     170796
 KwaZulu-Natal    169781
 North West       143287
 Mpumalanga        52718
 Eastern Cape      30336
 Limpopo           24836
 Free State         8099
 Northern Cape      6380
 Name: count, dtype: int64,
 'MainCrestaZone': MainCrestaZone
 Transvaal (all except Pretoria)                296187
 Johannesburg                                   176020
 Transvaal (Pretoria)                           100331
 Cape Province (Cape Town)                       95936
 Natal                                           88266
 Natal (Durban)                                  82859
 Karoo 1 (Northeast of Cape Town)                52732
 Rand East                                       42168
 Tembu 2, Cape Mid 2, Cape Mid West, Tembu 1     20191
 Cape Province (East and North of Cape Town)     19391
 Oranje Free State                                8149
 Cape Province                                    6701
 East London                                      3961
 Langkloof, Coast 2, Coast 1                      3009
 Ciskei, Cape Mid 1                               2415
 Port Elizabeth                                   1782
 Name: count, dtype: int64,
 'SubCrestaZone': SubCrestaZone
 Johannesburg            176020
 Pretoria                100331
 Cape Town                95936
 Durban                   82859
 Transvaal North          75141
 Transvaal North West     72558
 Northeast of CT          51386
 Transvaal East           45729
 Transvaal South          45571
 Rand East                42168
 North Coast              30154
 Rand West                22478
 East and North of        19391
 Bushveld                 19253
 South Coast              17588
 Natal 3                  16299
 Zululand                  9810
 Tembu 1                   9165
 Cape Mid West             7210
 Natal 2                   6846
 Transvaal South East      5980
 Transvaal Mid West        5105
 Natal 1                   4842
 East London               3961
 Drakensberg               3768
 Bloemfontein              3594
 Tembu 2                   3413
 Transvaal South West      3363
 Kalahari                  2736
 Coast 2                   2192
 Vaalhartz                 1926
 Ciskei                    1811
 Pondo                     1785
 Port Elizabeth            1782
 Namakwa                   1682
 Karoo 1                   1346
 Highveld                  1009
 Natal Cape                 942
 OFS North 1 and            787
 Cape Mid 1                 604
 Langkloof                  593
 Cape Mid 2                 403
 Karoo 2                    321
 Coast 1                    224
 Herbert                     36
 Name: count, dtype: int64,
 'ItemType': ItemType
 Mobility - Motor    1000098
 Name: count, dtype: int64,
 'VehicleType': VehicleType
 Passenger Vehicle    933598
 Medium Commercial     53985
 Heavy Commercial       7401
 Light Commercial       3897
 Bus                     665
 Name: count, dtype: int64,
 'make': make
 TOYOTA                                 813280
 MERCEDES-BENZ                           41940
 CMC                                     21624
 VOLKSWAGEN                              20929
 C.A.M                                   16171
 GOLDEN JOURNEY                          14462
 NISSAN/DATSUN                           10997
 JINBEI                                  10374
 IVECO                                    8430
 AUDI                                     7407
 NISSAN                                   5462
 BMW                                      5317
 FOTON                                    3482
 MERCEDES-BENZ                            3131
 HYUNDAI                                  2602
 B.A.W                                    2160
 HUMMER                                   1194
 TOYOTA                                   1166
 FIAT                                      984
 POLARSUN                                  934
 CHEVROLET                                 912
 SAIC                                      614
 CITROEN                                   561
 PEUGEOT                                   463
 FORD                                      427
 MAZDA                                     418
 SUZUKI                                    408
 TATA                                      381
 CHERY                                     361
 SCANIA                                    342
 LEXUS                                     336
 VOLVO                                     316
 MITSUBISHI                                260
 KIA                                       244
 FORD                                      242
 HINO                                      242
 PROTON                                    198
 RENAULT                                   156
 OPEL                                      147
 HONDA                                     130
 JMC                                       120
 GEELY                                     108
 JINBEI                                     60
 MARCOPOLO                                  51
 MAHINDRA                                    2
 DAIHATSU                                    1
 Name: count, dtype: int64,
 'Model': Model
 QUANTUM 2.7 SESFIKILE 16s         186087
 QUANTUM 2.7 SESFIKILE 15s         167523
 QUANTUM 2.7 SESFIKILE 14s         137242
 QUANTUM 2.5 D-4D SESFIKILE 16s     99444
 HiACE SUPER 16 F/Lift              79525
                                    ...
 SENTRA 140                             1
 VITO 112 CDI CREWBUS                   1
 C180                                   1
 BALLADE 180 E A/T                      1
 ELANTRA 1.6 GLS                        1
 Name: count, Length: 411, dtype: int64,
 'bodytype': bodytype
 B/S    844400
 P/V     55034
 S/D     41868
 MPV     33842
 C/C      8861
 H/B      8400
 S/W      3100
 SUV      2049
 S/C       880
 C/P       644
 CCL       216
 D/C       132
 D/S       120
 Name: count, dtype: int64,
 'VehicleIntroDate': VehicleIntroDate
 4/2012     287638
 10/2010    176799
 11/2007    137517
 11/1992     80059
 8/2001      41023
             ...
 4/1987          1
 5/1992          1
 3/2003          1
 3/1994          1
 8/1995          1
 Name: count, Length: 174, dtype: int64,
 'AlarmImmobiliser': AlarmImmobiliser
 Yes    999861
 No        237
 Name: count, dtype: int64,
 'TrackingDevice': TrackingDevice
 No     656617
 Yes    343481
 Name: count, dtype: int64,
 'CapitalOutstanding': CapitalOutstanding
 0           665918
 0           122199
 0.00          4663
 232500        3285
 329500        3244
              ...
 357151           2
 337000           2
 184500.0         2
 293900.0         1
 246200.0         1
 Name: count, Length: 1011, dtype: int64,
 'NewVehicle': NewVehicle
 More than 6 months    845223
 Less than 6 months      1580
 Name: count, dtype: int64,
 'WrittenOff': WrittenOff
 No     358165
 Yes        32
 Name: count, dtype: int64,
 'Rebuilt': Rebuilt
 No     358165
 Yes        32
 Name: count, dtype: int64,
 'Converted': Converted
 No     358110
 Yes        87
 Name: count, dtype: int64,
 'CrossBorder': CrossBorder
 No    698
 Name: count, dtype: int64,
 'TermFrequency': TermFrequency
 Monthly    999554
 Annual        544
 Name: count, dtype: int64,
 'ExcessSelected': ExcessSelected
 No excess                                                         791235
 Mobility - Windscreen                                              97313
 Mobility - Taxi with value more than R100 000 - R5 000             76424
 Mobility - Taxi with value less than R100 000 - R3 000             15249
 Mobility - Metered Taxis - R2000                                    6999
 Mobility - Windscreen (Feb2015)                                     6450
 Mobility - Taxi with value more than R100 000 - R5 000 (April)      3022
 Mobility - Metered Taxis - R5000                                    1704
 Mobility - Taxi with value more than R100 000 - R10 000             1108
 Mobility - R250                                                      463
 Mobility - Trailers                                                   76
 Mobility - Taxi with value more than R100 000 - R7 500                52
 Mobility - Factory Sound                                               3
 Name: count, dtype: int64,
 'CoverCategory': CoverCategory
 Passenger Liability                                    104158
 Third Party                                            102825
 Keys and Alarms                                        102428
 Signage and Vehicle Wraps                              102416
 Emergency Charges                                      102416
 Cleaning and Removal of Accident Debris                102414
 Windscreen                                              97313
 Own Damage                                              78981
 Income Protector                                        60001
 Basic Excess Waiver                                     53755
 Accidental Death                                        27321
 Credit Protection                                       18070
 Own Damage.                                             15095
 Own damage                                               8776
 Windscreen (2015)                                        6450
 Income Protector (2015)                                  4812
 Basic Excess Waiver (2015)                               4014
 Roadside Assistance                                      3834
 Vehicle over R100 000                                    1552
 Deposit Cover                                            1299
 Asset Value Preserver                                     865
 Standalone passenger liability                            544
 Cash Takings                                              291
 Baggage/Luggage                                           172
 Vehicle under R100 000                                    154
 Trailer                                                    76
 Third Party Only                                           63
 Factory Fitted Sound and Other Electronic Equipment         3
 Name: count, dtype: int64,
 'CoverType': CoverType
 Own Damage                                             104183
 Passenger Liability                                    104158
 Windscreen                                             103763
 Third Party                                            102825
 Keys and Alarms                                        102428
 Signage and Vehicle Wraps                              102416
 Emergency Charges                                      102416
 Cleaning and Removal of Accident Debris                102414
 Income Protector                                        64813
 Basic Excess Waiver                                     57769
 Accidental Death                                        27321
 Credit Protection                                       18070
 Roadside Assistance                                      3834
 Deposit Cover                                            1299
 Asset Value Preserver                                     865
 Standalone passenger liability                            544
 Fire and Theft                                            375
 Cash Takings                                              291
 Baggage/Luggage                                           172
 Trailer                                                    76
 Third Party Only                                           63
 Factory Fitted Sound and Other Electronic Equipment         3
 Name: count, dtype: int64,
 'CoverGroup': CoverGroup
 Comprehensive - Taxi              824124
 Income Protector                   64813
 Basic Excess Waiver                57769
 Accidental Death                   27321
 Credit Protection                  18070
 Motor Comprehensive                 3941
 Deposit Cover                       1299
 Asset Value Preserver                865
 Fire,Theft and Third Party           750
 Standalone passenger liability       544
 Cash Takings                         291
 Baggage/Luggage                      172
 Trailer                               76
 Third Party Only                      63
 Name: count, dtype: int64,
 'Section': Section
 Motor Comprehensive                                828125
 Optional Extended Covers                           152530
 Credit Protection                                   18070
 Third party or third party, fire and theft only       829
 Standalone passenger liability                        544
 Name: count, dtype: int64,
 'Product': Product
 Mobility Commercial Cover: Monthly    915028
 Mobility Metered Taxis: Monthly        79272
 Bridge Taxi Finance: Monthly            5254
 Standalone Passenger Liability           544
 Name: count, dtype: int64,
 'StatutoryClass': StatutoryClass
 Commercial    1000098
 Name: count, dtype: int64,
 'StatutoryRiskType': StatutoryRiskType
 IFRS Constant    1000098
 Name: count, dtype: int64}